 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  min-height: 100vh;
  background: #ffffff;
}
.container{
  max-width: 690px;
  width: 100%;
  padding: 30px;
  /* margin-top: 50px; */
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.01);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.wrapper{
  border-radius: 5px;
  border: 1px solid #ccc;
}
.wrapper .text-input{
  display: flex;
  border-bottom: 1px solid #ccc;
}
.text-input .to-text{
  border-radius: 0px;
  border-left: 1px solid #ccc;
}
.text-input textarea{
  height: 250px;
  width: 100%;
  border: none;
  outline: none;
  /* border: 1px solid rgb(31, 30, 30); */
  resize: none;
  background: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
}
.text-input textarea::placeholder{
  color: #b7b6b6;
}
.controls, li, .icons, .icons i{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  /* border: 1px solid red; */
}
.controls{
  list-style: none;
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  padding: 12px 15px;
}
.controls .row .icons{
  width: 38%;
  /* border: 1px solid red; */
}
.controls .row .icons i{
  width: 50px;
  color: #adadad;
  font-size: 14px;
  cursor: pointer;
  /* border: 1px solid red; */
  transition: transform 0.2s ease;
  justify-content: center;
}
.controls .row.from .icons{
  padding-right: 15px;
  border-right: 1px solid #ccc;
  /* border: 1px solid red; */
}
.controls .row.to .icons{
  /* border: 1px solid red; */
  padding-left: 15px;
  border-left: 1px solid #ccc;
}
.controls .row select{
  color: #333;
  border: none;
  outline: none;
  /* border: 1px solid red; */
  font-size: 18px;
  background: none;
  padding-left: 5px;
    text-align: center;
}
.text-input textarea::-webkit-scrollbar{
  width: 4px;
}
.controls .row select::-webkit-scrollbar{
  width: 8px;
}
.text-input textarea::-webkit-scrollbar-track,
.controls .row select::-webkit-scrollbar-track{
  background: #fff;
}
.text-input textarea::-webkit-scrollbar-thumb{
  background: #ddd;
  border-radius: 8px;
}
.controls .row select::-webkit-scrollbar-thumb{
  background: #999;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}
.controls .exchange{
  color: #adadad;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease;
}
.controls i:active{
  transform: scale(0.2);
}
.container button{
  width: 100%;
  margin: auto;
  padding: 14px;
  outline: none;
  border: none;
  color: #fff;
  
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  border-radius: 5px;
  background: #12120c;
}

@media (max-width: 660px){
  .container{
    padding: 20px;
  }
  .wrapper .text-input{
    flex-direction: column;
  }
  .text-input .to-text{
    border-left: 0px;
    border-top: 1px solid #ccc;
  }
  .text-input textarea{
    height: 200px;
  }
  .controls{
    flex-direction: column;
  }
  .exchange{transform: rotate(90deg);
    margin-top: 7px;
    margin-bottom: 7px;
  }
   
  .container button{
    padding: 13px;
    font-size: 16px;
  }
  .controls .row select{
    font-size: 16px;
  }
  .controls .exchange{
    font-size: 14px;
  }
}
.social{
  /* border: 1px solid red; */
  height: auto;
  width: auto;
  display: flex;
  justify-content: end;
  margin-top: 30px;
  gap: 20px;
}
 .social img{
  width: 40px;
 }
 .social img:hover{
  width: 42px;
  cursor: pointer;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
 }
 .main{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 20px;
 
 }
 .trans{
  margin-top: 30px;
  /* border: 1px solid red; */
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 